*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install/
KEYS.html
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
*.tmp
xde-app
xde-ctools-*.tar.xz
xde-cycle
xde-dock
xde-keys
xde-menu
xde-menugen
xde-monitor
xde-pager
xde-places
xde-recent
xde-run
xde-select
xde-setbg
xde-winlist
xde-winmenu
xde-wkspmenu
xde-preferred
